/* styles/projects.css */
#projects {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#projects h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#projects p {
    margin-bottom: 20px; /* Add margin to separate the project info from the project items */
}

#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
    margin-bottom: 20px;
}

#projects li img {
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
}

#projects li div {
    flex: 1; /* Let the div fill the remaining space */
}

#projects li h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#projects li p {
    margin-bottom: 10px;
}

#projects li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#projects li a:hover {
    color: #0056b3;
}
#projects .image-container {
    display: flex;
  }
  
  #projects .image-container img {
    width: 50%;
  }
  