/* styles/projects.css */

#projects {
    background-color: rgba(255, 255, 255, 0.8); /* Light background color */
    color: #333; /* Dark text color for contrast */
    padding: 30px;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    max-width: 1400px; /* Match Hobbies and About Me */
    margin: 50px auto;
    display: flex; /* Add flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the container */
}

#projects h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
    text-align: center;
}

#projects p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333; /* Dark text color */
    margin-bottom: 15px;
    text-align: center; /* Center text */
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-item {
    margin-bottom: 30px;
    width: 100%; /* Take up full width of the container */
    display: flex; /* Add flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the container */
}

.project-details {
    text-align: left;
    width: 100%; /* Take up full width of the container */
}

.project-details h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
    color: #333; /* Dark text color */
    text-align: center; /* Center text */
}

.project-details p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #333; /* Dark text color */
    text-align: center; /* Center text */
}


.project-details li {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 8px;
    color: #333; /* Dark text color */
}

.project-details a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-details a:hover {
    color: #003366;
    text-decoration: underline;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%; /* Take up full width of the container */
}

.image-container img {
    width: 45%;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



.project-item img {
    width: 100%;
    max-width: 600px;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project-item img:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-item {
        flex-direction: column;
    }

    .project-item img,
    .image-container img {
        width: 100%;
        max-width: none;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }
}