/* styles/skills.css */

#skills {
    background-color: #f9f9f9; /* Light gray background */
    color: #333;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#skills h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #3498db; /* Blue heading */
}

.skill-tree {
    width: 100%;
    max-width: 700px;
}

.skill-tree ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-tree > ul > li {
    margin-bottom: 15px;
}

.skill-tree .category {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.skill-tree .category:hover {
    color: #3498db; /* Blue on hover */
}


.skill-tree ul ul li {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #777;
    position: relative;
    padding-left: 20px; /* Add padding for the hanging indent */
    text-indent: -20px; /* Create the hanging indent */
}

.skill-tree ul ul li::before {
    content: ""; /* Remove bullet point */
    position: absolute;
    left: 0;
    color: #3498db;
}

/* "Shine" Effect */
.skill-tree .category:hover + ul li {
    color: #3498db; /* Highlight sub-skills on hover */
    font-weight: normal; /* Remove bold */
}